@page "/"
@inject NavigationManager navigation
<div class="vh-100" style="margin:0px;padding:0px;">
    @*<div  style="border:solid;border-color:black;border-bottom:0px;margin-bottom:0px!important">
    <h1 class="d-inline">Title</h1>
    </div>*@

    <div class="d-flex h-100">
        <div class="w-60 d-flex align-items-center justify-content-center" style="background-color:#a29bfe">
            <div class="colm-form">
                <div class="form-container">
                    <p>Si vous voulez vous connecter en utilisant <strong>la reconnaissance facial</strong>, veuillez autoriser la caméra en appuyant sur le bouton ci dessous.</p>
                    <button class="btn-login">Activer la caméra</button>
                </div>
            </div>
        </div>
        <div class="w-40 d-flex align-items-center justify-content-center" style="background-color:#6c5ce7">
            <div class="colm-form">
                <div class="form-container">
                    <input type="text" placeholder="Adresse Email">
                    <input type="password" placeholder="Mot de passe">
                    <button class="btn-login" @onclick='()=>navigation.NavigateTo("MainPage")'>Connexion</button>
                </div>
            </div>
        </div>

    </div>

</div>

