@page "/MainPage"
@inject NavigationManager navigation

<div class="vh-100 d-flex align-items-center justify-content-around align-self-center" style="background-color:#a29bfe;">

    <div class="w-60" style="background-color:white;border-radius:30px;padding:20px;height:80vh">
        <div class="form-container d-flex flex-wrap align-content-start" style="min-width:50%">
            @for (int i = 1; i < 43; i++)
            {
                <div class="justify-content-around d-flex align-items-center" style="min-width:33%;">
                    <select>
                        <option selected> 1 </option>
                        <option>2</option>
                        <option>3</option>
                    </select>
                    <p class="" style="margin-bottom:0px!important">Product au pif</p>
                    <input class="" style="height:30%;width:30%" type="checkbox" />
                    @if (i % 3 != 0)
                    {
                        <div style="border-left:solid;border-color:black;"><p class="invisible">line</p></div>
                    }

                </div>
            }
        </div>
    </div>

    <div class="w-25" style="background-color:white;border-radius:30px;padding:20px;height:80vh;">
        <div class=" d-flex" style="flex-direction:column;justify-content:space-around;height:100%;">
            <img src="/css/img/user-png-icon-young-user-icon-2400.png" alt="user" class="w-40 align-self-center" />
            <button class="LeMeilleurBouton w-60 align-self-center" style="padding:10px!important">Valider</button>
            <button @onclick='()=>navigation.NavigateTo("")' class="LeMeilleurBouton w-60 align-self-center"style="padding:10px!important">Déconnexion</button>
        </div>

    </div>
</div>
@code {

}
